:root {
    cursor: url(../cursor/miku1.png), auto;
    animation: cursor 1000ms infinite;
}

@keyframes cursor {
    0% {
        cursor: url(../cursor/miku1.png), auto;
    }
    14% {
        cursor: url(../cursor/miku2.png), auto;
    }
    28% {
        cursor: url(../cursor/miku3.png), auto;
    }
    43% {
        cursor: url(../cursor/miku4.png), auto;
    }
    57% {
        cursor: url(../cursor/miku5.png), auto;
    }
    71% {
        cursor: url(../cursor/miku6.png), auto;
    }
    86% {
        cursor: url(../cursor/miku7.png), auto;
    }
    100% {
        cursor: url(../cursor/miku8.png), auto;
    }
}