/* 
    This file defines how custom elements (like sitebox) will look like.
*/

.site-box {text-align: center; background-image: url('https://neko.lunaui.cc/res/images/bg.png'); background-size: 100% 100%;
    background-repeat: no-repeat; font-size: 12px; font-family: Consolas;}
.site-box .sitefeature {display: none;}
.site-box > a > p {color: #46124f; display: none; font-weight: bold; text-shadow: 2px 2px 5px #67476d;}
.site-box > a > span {color: #46124f; font-weight: bold; text-shadow: 2px 2px 5px #67476d;}
.site-box a {top: 140px !important}.site-box p{top: 5px !important}

/* Style for your 'Follow on Nekoweb' button (<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>) */

/* .follow {
    
} */