body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

#site-wrapper {
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 3vh;
    box-sizing: border-box;
}

main {
    padding: 3vh 0 0 0;
    gap: 0.5em 0.5em;
    display: grid;
    grid-template:
        "logo logo top-nav top-nav top-nav" auto
        "ticker ticker ticker ticker ticker" auto
        "side-nav content content content content" 1fr
        "side-content content content content content" auto
        "ads content content content content" auto
        "button-container-box content content content content" auto
        "footer footer footer footer footer" auto / 1fr 0.25fr 0.75fr 1fr 1fr;
    min-height: calc(100vh - 3vh);
}

.box-container {
    z-index: 1;
    overflow: auto;
    padding: 0.5rem;

    /* firefox */
    @-moz-document url-prefix() {
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
}

.box-container div {
    max-width: 100%;
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: end;
}

#logo img {
    max-width: 125%;
    max-height: 125%;
}

#top-nav {
    grid-area: top-nav;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

#top-nav p {
    margin: 2% 0 0 0;
}

#top-nav a {
    font-size: 1.6rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    max-height: 100%;
}

#top-nav a:hover {
    font-size: 2.5rem;
}

#catchphrase {
    font-size: 0.8rem;
}

#ticker {
    grid-area: ticker;
}

#ads {
    grid-area: ads;
}

#side-content {
    grid-area: side-content;
}

#content {
    grid-area: content;
}

#side-nav {
    grid-area: side-nav;
}

#button-container-box {
    grid-area: button-container-box;
    text-align: center;
}

#button-container-box legend {
    text-align: start;
}

#footer {
    text-align: center;
    grid-area: footer;
    z-index: 1;
}

#footer a {
    text-decoration: none;
}

#inline-bar {
    margin-top: 1%;
    padding: 0;
}

.progress-border {
    border-radius: 5em;
}

.progress-bar {
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#progress-placeholder-text {
    font-size: 0.6rem;
}

.progress-below {
    display: flex;
    justify-content: space-between;
}

#contact {
    font-size: 0.8rem;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#commit a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

#commit a:hover {
    text-decoration: underline;
}

.commit-icon {
    font-size: 1rem;
}

textarea {
    white-space: normal;
    resize: none;
}

#mobile-modal-container {
    display: none;
    position: fixed;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#mobile-modal {
    position: fixed;
    margin: auto;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80vmin;
    height: 100vmin;
    overflow: auto;
    border-radius: 1em;
    padding: 1em;
}

#ignore-mobile-p {
    text-align: center;
}

@media only screen and (max-width: 1023px) {
    #mobile-modal-container {
        display: block;
    }
}

#now-playing {
    display: none;
}

#now-playing-button {
    display: none;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.placeholder img {
    max-width: 50%;
    height: auto;
}

.placeholder p {
    text-align: center;
}