@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

@font-face {
    font-family: 'Yuruka';
    src: local("FOT-Yuruka Std UB Black"), url('/Yuruka.ttf') format('truetype');
}

body, html {
    background-color: #211a22;
    background-image: linear-gradient(-225deg, #35243a, #1b171b);
    color: #ffffff;
    min-height: 100vh;
    font-family: 'MS PGothic', 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    padding: 5vh 20vw;
    gap: 0.5em 0.5em;
    display:grid;
    grid-template:
        "logo logo top-nav top-nav top-nav"minmax(0, 1fr) 
        "ticker ticker ticker ticker ticker"minmax(0, 0.4fr) 
        "side-nav content content content content"minmax(0, 1.0fr) 
        "side-content content content content content"minmax(0, 1.0fr) 
        "ads content content content content"minmax(0, 1.55fr) 
        "button-container-box content content content content"minmax(0, 0.85fr) 
        "footer footer footer footer footer" auto / 1fr 0.25fr 0.75fr 1fr 1fr;
    max-height: 130vh;
}

.box-container {
    z-index: 1;
    border: #f0caf3 2px dotted;
    background-color: #f0caf30f;
    backdrop-filter: blur(5px);
    overflow: auto;
    padding: 0.5rem;
    border-radius: 10px;

    /* firefox */
    @-moz-document url-prefix() {
        scrollbar-color: #f0caf3 #362938;
        scrollbar-width: thin;
    }
}

/* everyone else :P */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #dfe6e900;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: #f0caf344;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f0caf388;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #f0caf3ff;
    border-radius: 10px;
}


.box-container div {
    max-width: 100%;
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: end;
}

#logo img {
    max-width: 125%;
    max-height: 125%;
}

#top-nav {
    grid-area: top-nav;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

#top-nav p {
    margin: 2% 0 0 0;
}

#top-nav a {
    font-size: 1.6rem;
    padding: 0.2rem 0.4rem;
    border: #f0caf3 1px dashed;
    text-decoration: none;
    color: #f0caf3;
    max-height: 100%;
    transition: font-size 0.2s;
}

#top-nav a:hover {
    font-size: 2.5rem;
    background-color: #f0caf3;
    color: #35243a;

}

#catchphrase {
    font-family: 'Yuruka', 'MS PGothic', sans-serif;
    font-size: 0.8rem;
    color: #726076
}

#ticker {
    grid-area: ticker;
}

#ads {
    grid-area: ads;
}

#side-content {
    grid-area: side-content;
}

#content {
    grid-area: content;
}

#side-nav {
    grid-area: side-nav;
}

#button-container-box {
    grid-area: button-container-box;
    text-align: center;
}

#button-container-box legend {
    text-align: start;
}

#footer {
    text-align: center;
    grid-area: footer;
    z-index: 1;
}

#footer a {
    text-decoration: none;
}

#inline-bar {
    margin-top: 1%;
    padding: 0;
}

.progress-border {
    border: 1px solid #fcd4e0;
    border-radius: 5em;
}

.progress-bar {
    background-color: #fcd4e060;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#progress-placeholder-text {
    font-size: 0.6rem;
    color: #fcd4e062;
}

.progress-below {
    display: flex;
    justify-content: space-between;
}

#contact {
    font-size: 0.8rem;
}

#contact a {
    text-decoration: none;
    color: #ffe18f;
}

#contact a:hover {
    text-decoration: underline;
}

#commit a {
    font-family: 'Roboto', 'MS PGothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f0caf3;
    text-decoration: none;
}

#commit a:hover {
    text-decoration: underline;
}

.commit-icon {
    font-size: 1rem;
}

#commit-date {
    color: #b28eba
}

#commit~hr {
    border: 1px dashed #b67dba;
}

#diff-add {
    color: #3fb950;
}

#diff-del {
    color: #f85149;
}

legend {
    color: #f7ddf9;
}

textarea {
    white-space: normal;
    background-color: #987f9b33;
    color: #dcc5df;
    resize: none;
}

#mobile-modal-container {
    display: none;
    position: fixed;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000099;
    backdrop-filter: blur(15px);
}

#mobile-modal {
    position: fixed;
    margin: auto;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80vmin;
    height: 100vmin;
    overflow: auto;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 1em #fcd4e088;
    background-color: #251723cc;
}

#ignore-mobile {
    border: #fcd4e0 1px solid;
    background-color: #fcd4e033;
    padding: 0.4em;
}

#ignore-mobile-p {
    text-align: center;
}

@media only screen and (max-width: 1023px) {
    #mobile-modal-container {
        display: block;
    }
}

#now-playing {
    display: none;

    color: #ffe6f7;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

#now-playing-button {
    display: none;
    cursor: pointer;

    background-color: #fcd4e022;
    color: #ffe6f7;
    border: #fcd4e0 1px solid;
    border-radius: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.placeholder img {
    max-width: 50%;
    height: auto;
}

.placeholder p {
    color: #bea2c1bb;
    text-align: center;
}