---
import SiteLayout from "../layouts/SiteLayout.astro"
import SourceNotice from "../components/SourceNotice.astro"
import Partial from "../components/Partial.astro"
import CommitInfo from "../components/CommitInfo.astro"
import Logo from "../components/Logo.astro"
import TopNav from "../components/TopNav.astro"
import ProgressTicker from "../components/ProgressTicker.astro"
import Nekolink from "../components/Nekolink.astro"
import Webrings from "../components/Webrings.astro"
import MyButton from "../components/LunaButton.astro"
import Footer from "../components/Footer.astro"
---

<SiteLayout>
    <SourceNotice/>
    <main>
        <Logo/>
        <TopNav/>
        <ProgressTicker/>
        <Nekolink/>

        <fieldset id="content" class="box-container">
            <legend>meow</legend>
            <Partial/>
        </fieldset>

        <Webrings/>
        <CommitInfo/>
        <MyButton/>
        <Footer/>
    </main>
</SiteLayout>