---
import ImageButtonList from "./ImageButtonList.astro"
---

<footer id="footer">
	<ImageButtonList/>
	<br>
	<span>&#169; 2023-2025 lunaui. All Rights Reserved.</span>
	<br>

	<span id="contact">
		<a href="mailto:contact@lunaui.cc">contact@lunaui.cc</a>
		 | 
		<a href="/lunaui.gpg">pgp public key</a>
	</span>
</footer>