---
// src/components/Header.astro
---

<header id="header">
  <div id="logo">
    <img src="/assets/images/luna-logo.png" alt="Lunaui Logo" />
  </div>

  <nav id="top-nav">
    <span id="now-playing">&#9834;ユメガタリ ～ 雨の日トロイメライ ～</span>
    <span id="now-playing-button"><i class='bx bx-volume-full'></i> play music?</span>
    <p id="catchphrase">part time programmer, full time lunaui.</p>
    <p>
      <a class="top-nav-btn" href="#me">me</a>
      <a class="top-nav-btn" href="#projects">projects</a>
      <a class="top-nav-btn" href="#blog">blog</a>
      <a class="top-nav-btn" href="#links">links</a>
      <a href="https://lunaui.atabook.org/">guestbook</a>
      <a href="https://nekoweb.org/follow/lunaui" style="border: none;">[+]</a>
    </p>
  </nav>
</header>