---
import { Image } from 'astro:assets'
import ILunauiLogo from '@images/luna-logo.png'
---
<div id="logo">
    <Image
        src={ILunauiLogo}
        alt="Lunaui Logo"
        loading="eager"
        style="max-width: 125%; max-height: 125%; width: auto; height: auto;"
    />
</div>