<div id="mobile-modal-container">
			<fieldset id="mobile-modal" class="box-container">
				<legend>erm...</legend>
				<p><b>mobile layout detected.</b></p>
				<p>my site's layout is <b>not</b> designed for mobile use or small screens and will absolutely explode. it's best to come back when you have
					access to a computer or laptop.</p>
				<p>if you're on a tablet, you can try rotating it to landscape mode.</p>
				<br>
				<p id="ignore-mobile-p"><a id="ignore-mobile">continue anyways</a></p>
			</fieldset>
		</div>