<div class="placeholder">
    <p>access denied.</p>
    <img src="../src/assets/images/mou.png" alt="placeholder for unfinished content" />
    <p>content isn't finished yet... come back later?</p>
</div>