---
import ILumiaMou from '@images/mou.png'
---

<div class="placeholder">
    <img src={ILumiaMou.src} alt="placeholder for unfinished content" />
    <p>content isn't finished yet... come back later?</p>
</div>