<div id="ticker">
	<label for="inline-bar" style="color:#d4e0fc">
		Layout v2.1 (Astro Rewrite) Progress
	</label>
	<div id="inline-bar">
		<div class="progress-border">
			<div class="progress-bar" style="height:24px;width:90%">
				90%
			</div>
		</div>
	</div>
	<span id="progress-placeholder-text">* This bar is temporary and <b>will</b> be replaced!</span>
</div>