<nav id="top-nav">
	<span id="now-playing">&#9834;ユメガタリ ～ 雨の日トロイメライ ～</span>
	<span id="now-playing-button"><i class='bx bx-volume-full'></i> play music?</span>
	<p id="catchphrase">
		part time programmer, full time lunaui.
	</p>
	<p>
		<a id="me" class="top-nav-btn" href="/">me</a>
		<a id="projects" class="top-nav-btn" href="/projects">projects</a>
		<a id="blog" class="top-nav-btn" href="/blog/">blog</a>
		<a id="links" class="top-nav-btn" href="/links">links</a>
		<a href="https://lunaui.atabook.org/">guestbook</a>
		<a href="https://nekoweb.org/follow/neko.lunaui.cc" style="border: none;">[+]</a>
	</p>
</nav>