<fieldset id="side-content" class="box-container">
	<legend>webrings</legend>
	<div id="smallvocaring">
		<script src="https://webring.adilene.net/smallwidget.js"></script>
	</div>
	<div id="nekowebring">
		<script
			type="text/javascript"
			src="https://webring.nekoweb.org/onionring-variables.js"
		></script>
		<script
			type="text/javascript"
			src="https://webring.nekoweb.org/onionring-widget.js"
		></script>
	</div>
    <div><script defer src="https://ditzydmns.nekoweb.org/umaring/webring.js"></script></div>
    <div id="umwr"> 
        <link rel="stylesheet" href="https://4ster.nekoweb.org/webrings/onionring.css"> 
        <script src="https://4ster.nekoweb.org/webrings/onionring-variables.js"></script>
        <script src="https://4ster.nekoweb.org/webrings/onionring-widget.js"></script>
    </div>
</fieldset>